
body {
  background-image: url("public/external/unsplashqfjsiok61xa4915-6k1-1100h.png");
  background-size: cover;

}.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
 
}
.row{
  display: flex;
  gap: 10px;
}


.text-center{
  font-family: 'Roboto';font-size: 36px;
  font-weight: bold;
  color: white;
  margin-bottom: 40px;
  margin-top: 10px;
  align-items: center;
}
.info-details{
  font-family: 'Roboto';font-size: 32px;

  color: white;
  position: relative;
}
.decp-text {
  background-color: rgba(217, 217, 217, 0.2); 
  padding-left: 80px; /* Padding from left side */
  padding-right: 80px; /* Padding from right side */
  padding-top: 40px; /* Padding from top */
  padding-bottom: 40px; /* Padding from bottom */
}
.Additonal-button{
  width: 484px;
  height: 103px;
  background-color: rgba(105, 110, 221, 0.8 );
  font-family: 'Roboto';font-size: 30px;
  border: none; 
  color: white;

}
.addiotnal-text{
  font-family: 'Roboto';font-size: 32px;

}
.Save-button {
  display: flex; /* Make the container a flexbox */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin-top: 50px; /* Add margin from the top */
  
}
.Explore-button{
  width: 750px;
  height: 103px;
  background-color: rgba(105, 110, 221, 0.8 );
  font-family: 'Roboto';font-size: 30px;
  border: none; 
  color: white;
  position: relative;;
  bottom: 20px;
  text-align: center;
  text-decoration: none;
  padding-top: 25px;
}
#moved-piece-container {
  position: absolute;
  top: 30px;
  left: 30px;
}